* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

html, body {
	font: 12px/1.5 PingFangSC-Regular,Helvetica,Arial,Microsoft Yahei,sans-serif;
	user-select: none;
}

button:hover {
	cursor: pointer;
}

/* transition 默认动画 */
.v-enter-active, .v-leave-active {
    transition: opacity .35s ease;
}
.v-enter, .v-leave-to {
    opacity: 0;
}

/* 图片加载成功的样式 */
.img-success {
    animation: fadeIn 1s ease-out 0.1s 1 both;

    /*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/
    /*animation-name: keyframename|none; animation-name 属性为 @keyframes 动画指定名称。*/
    /*animation-duration: time; animation-duration属性定义动画完成一个周期需要多少秒或毫秒。*/
    /*animation-timing-function: value; animation-timing-function使用的数学函数，称为三次贝塞尔曲线，速度曲线*/
    /*animation-delay: time; animation-delay 属性定义动画什么时候开始*/
    /*animation-iteration-count: value; animation-iteration-count属性定义动画应该播放多少次。*/
    /*animation-direction: normal|reverse|alternate|alternate-reverse|initial|inherit; animation-direction 属性定义是否循环交替反向播放动画。*/
    /*animation-fill-mode: none|forwards|backwards|both|initial|inherit; animation-fill-mode 属性规定当动画不播放时（当动画完成时，或当动画有一个延迟未开始播放时），要应用到元素的样式。both: 动画遵循 forwards 和 backwards 的规则。也就是说，动画会在两个方向上扩展动画属性。*/
    /*animation-play-state: paused|running; animation--play-state属性指定动画是否正在运行或已暂停。*/
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 滚动条控制样式 */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--common-header-bg-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #484B4D;
    border-radius: 10px;
}